<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container">

  <header class="col-md-12">
    <h2>Featured<br>Contributors</h2>
  </header>

  <div class="col-md-11">
    <figure id="recommended">
      <div class="user" ng-repeat="user in standardUsers | filter: knownContacts">
        <i class="fa fa-plus-circle" ng-click="addAsContact(user)"></i>
        <span>
          {{ user.name }}
        </span>
      </div>
    </figure>
  </div>

  <header class="col-md-12">
    <h3>Trending Topics</h3>
  </header>

  <figure id="objective-card" class="col-md-offset-1 col-md-3" ng-repeat="objective in objectives">
    <section>
      <h2><a ng-href="/objectives/{{objective._id}}">{{ objective.name }}</a></h2>
      <p class="description">
        {{ objective.info }}
      </p>
      <p class="author">
        By {{ objective.username }}
      </p>
    </section>
  </figure>

</div>
