<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container">

  <header class="col-md-12">
    <h4>Trending</h4>
  </header>


  <div class="col-md-9">
    <figure id="objective-card" class="col-md-offset-1 col-md-3" ng-repeat="objective in objectives">
      <section>
        <h2>{{ objective.name }}</h2>
        <p>
          {{ objective.info }}
        </p>
      </section>
    </figure>
  </div>

  <div class="col-md-3">
    <figure id="recommended">
      <h2>Featured Contributors</h2>
      <div class="contact" ng-repeat="contact in contacts">
        <p>
          {{ contact.user }}
        </p>
        <span ng-class="{online: contact.online}"></span>
      </div>
    </figure>
  </div>

</div>
