#recommended {
  margin-bottom: 60px;
  padding: 40px 0;
  background: url('/assets/images/lghtmesh.png') repeat;
  .user {
    margin-top: 15px;
    margin-left: 16px;
    span {
      line-height: 10px;
    }
    i {
      margin-right: 3px;
      padding: 5px;
      background: black;
      color: white;
      cursor: pointer;
      &:hover {
        background: #666;
      }
    }
  }
}

header {
  margin-bottom: 20px;
  &:nth-child(1) {
    margin-bottom: 10px;
  }
}

#objective-card {
  position: relative;
  height: 249px;
  margin-bottom: 80px;
  background: url('/assets/images/lghtmesh.png') repeat;
  section {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    h2 {
      font-size: 24px;
      font-weight: 700;
    }
    .author {
      font-weight: 500;
      line-height: 4;
      white-space: nowrap;
    }
  }
}
