<div ng-include="'components/navbar/navbar.html'"></div>

<md-content class="discover">

  <div class="heading">

    <header>
      <h2>Featured</h2>
    </header>

  </div>

  <div class="container">

    <section class="featured">
      <div class="user" ng-repeat="user in featuredUsers | limitTo:18 track by $index">
        <span class="name">
          {{ user.name }}
        </span>
        <md-button class="add md-primary" ng-click="addAsContact(user)">add</md-button>
      </div>
    </section>

  </div>

  <div class="heading">

    <header class="topics">
      <h3>All</h3>
      <h3>Picks</h3>
      <h3>Popular</h3>
    </header>

  </div>

  <div class="container objectives">

    <md-card class="col-md-offset-1 col-md-3 objective-card" ng-repeat="objective in objectives">
      <section>
        <h2><a ng-href="/objectives/{{objective._id}}">{{ objective.name }}</a></h2>
        <p class="description">
          {{ objective.info }}
        </p>
        <p class="author">
          By {{ objective.username }}
        </p>
      </section>
    </md-card>

  </div>

</md-content>
