<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container">

  <figure id="user" class="col-md-2">
    <h3>{{ getCurrentUser().name }}</h3>
    <p>Telluride, CO</p>
    </h5>Leader</h5>
  </figure>

  <figure id="contacts" class="col-md-8">
    <h2>Contacts</h2>
    <div class="contact" ng-repeat="contact in contacts">
      <p data-drag="true" data-jqyoui-options="{revert: 'invalid'}" ng-model="contact" jqyoui-draggable="{placeholder: 'keep'}">
        {{ contact.name }}
      </p>
      <span ng-class="{online: contact.online}"></span>
    </div>
  </figure>

</div>

<div id="broadcast" class="container" ng-show="objAdd">

  <figure id="invite" class="col-md-4" data-drop="true" data-jqyoui-options ng-model="invitees" jqyoui-droppable="{multiple:true, stack:true}">
    <h2>Invite Collaborators</h2>
    <p data-drag="false" data-jqyoui-options ng-model="invitees" jqyoui-draggable ng-repeat="invitee in invitees">
      {{ invitee.user }}  <span ng-click="removeInvitee(invitee)">&times;</span>
    </p>
    <p class="hint">*drag and drop contacts to invite</p>
  </figure>

  <form id="objective" class="form col-md-4" name="objective" ng-submit="addObjective(objective)" novalidate>
    <div class="form-group">
      <label>Objective</label>
      <input type="text" name="objective" class="form-control" ng-model="objectiveToAdd" required />
      <p class="text-danger" ng-show="invalid && submitted">
        {{ addErrors.objective }}
      </p>
    </div>

    <div class="form-group">
      <label>Description</label>
      <textarea type="text" name="descript" class="form-control" ng-model="objDescription" maxlength="60" required />
      <span class="text-danger" ng-show="invalid && submitted">
        {{ addErrors.descript }}
      </span>
      <span>
        {{ charCount }}
      </span>
    </div>

    <button class="btn btn-default" type="submit">Broadcast</button>
    <button class="btn btn-default" type="reset" ng-click="toggleAdd()">Cancel</button>
  </form>

</div>

<div id="objectives" class="container">

  <!-- <section id="objectives" class="col-md-10">
    <h1>Objectives</h1>
    <button type="button" class="btn btn-default btn-xs" ng-click="toggleAdd()" ng-disabled="objAdd">broadcast new</button>
    <table class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Description</th>
          <th>Team Members</th>
        </tr>
      </thead>
      <tr ng-repeat="objective in objectives">
        <td>
          <span ng-hide="$index === indexEditing">
            {{ objective.name }}
          </span>
          <input type="text" name="name" ng-show="$index === indexEditing" ng-model="objective.name" />
        </td>
        <td>
          <span ng-hide="$index === indexEditing">
            {{ objective.info }}
          </span>
          <input type="text" name="info" ng-show="$index === indexEditing" ng-model="objective.info" />
        </td>
        <td>
          <span>
            {{ objective.contributors }}
          </span>
          </td>
        <td>
          <i class="fa fa-check" ng-show="$index === indexEditing" ng-click="editObjective(objective)"></i>
          <i class="fa fa-pencil" ng-hide="$index === indexEditing" ng-click="toggleEdit($index)"></i>
          <i class="fa fa-trash" ng-click="deleteObjective(objective)"></i>
        </td>
      </tr>
    </table>
  </section> -->
  <div class="col-md-12">
    <h1>Your Collaborations</h1>
    <button type="button" class="btn btn-default btn-xs" ng-click="toggleAdd()" ng-disabled="objAdd">broadcast new</button>
  </div>

  <figure id="objective-card" class="col-md-offset-1 col-md-3" ng-repeat="objective in objectives">
    <div class="controls">
      <i class="fa fa-check" ng-show="$index === indexEditing" ng-click="editObjective(objective)"></i>
      <i class="fa fa-pencil" ng-hide="$index === indexEditing" ng-click="toggleEdit($index)"></i>
      <i class="fa fa-trash" ng-click="deleteObjective(objective)"></i>
    </div>
    <section ng-hide="$index === indexEditing">
      <h2>{{ objective.name }}</h2>
      <p>
        {{ objective.info }}
      </p>
    </section>
    <form name="edit" ng-show="$index === indexEditing">
      <input class="form-control" type="text" name="name" ng-model="objective.name" />
      <input class="form-control" type="text" name="info" ng-model="objective.info" />
    </form>
  </figure>

</div>
