h1, h2 {
  font-family: 'Montserrat';
}

#user {
  text-align: center;
  background: url('/assets/images/lghtmesh.png') repeat;
  padding: 22px 0;
}

#contacts {
  .contact {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    span {
      width: 8px;
      height: 8px;
      margin-left: 4px;
      background: #ccc;
      border-radius: 100%;
      &.online {
        background: green;
      }
    }
  }
}

#objectives {
  margin: 10px 20px;
  h1 {
    display: inline-block;
  }
  table {
    thead {
      font-weight: 700;
    }
  }
}

#broadcast {
  &.ng-hide-remove {
    animation: slideIn .4s ease-in-out;
  }
  &.ng-hide {
    animation: bounceOut .2s ease-in-out;
  }
  #invite {
    border: 1px dashed #ccc;
    ul {
      list-style: none;
      font-weight: 500;
      input {
        margin-right: 4px;
      }
    }
  }
  #objective {
    padding: 20px;
    background: url('/assets/images/lghtmesh.png') repeat;
  }
}



@keyframes slideIn {
  0% {transform: translateX(-800px);}
  70% {transform: translateX(125px);}
  100% {transform: translateX(0);}
}

@keyframes bounceOut {
  70% {transform: scale(1.3);}
  100% {transform: scale(0);}
}