<div ng-include="'components/navbar/navbar.html'"></div>

<md-content class="sign-up">
  <header>
    <h1>Sign Up</h1>
  </header>
  <figure>
    <md-button class="facebook" ng-click="loginOauth('facebook')">
      <i class="fa fa-facebook"></i> Sign Up with Facebook
    </md-button>
  </figure>
  <form  id="sign-up" name="form" ng-submit="register(form)" novalidate>
    <md-text-float label="Name" ng-model="user.name" required></md-text-float>
    <p class="help-block" ng-show="form.name.$error.required && submitted">
      A name is required
    </p>
    <div layout="row" class="location">
      <md-text-float label="City" ng-model="user.city" required></md-text-float>
      <md-text-float label="Country" ng-model="user.country" required></md-text-float>
    </div>
    <md-text-float label="Email" ng-model="user.email" required></md-text-float>
    <md-text-float type="password" label="Password" ng-model="user.password" minlength="3" required></md-text-float>
    <md-button type="submit" class="md-primary md-raised">Sign Up</md-button>
  </form>
  <p>
    Already signed up? <a ng-href="/login">Login</a>
  </p>
</md-content>

<!-- <div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h1>Sign up</h1>
    </div>
    <div class="col-md-8">
      <form class="form" name="form" ng-submit="register(form)" novalidate>

        <div class="form-group" ng-class="{ 'has-success': form.name.$valid && submitted,
                                            'has-error': form.name.$invalid && submitted }">
          <label>Name</label>

          <input type="text" name="name" class="form-control" ng-model="user.name"
                 required/>
          <p class="help-block" ng-show="form.name.$error.required && submitted">
            A name is required
          </p>
        </div>

        <div class="form-group" ng-class="{ 'has-success': form.location.$valid && submitted,
                                            'has-error': form.name.$invalid && submitted }">
          <label>Location</label>

          <input type="text" name="city" placeholder="City" class="form-control" ng-model="user.city" required/>
          <input type="text" name="country" placeholder="Country" class="form-control" ng-model="user.country" required/>
          <p class="help-block" ng-show="form.name.$error.required && submitted">
            A location is required
          </p>
        </div>

        <div class="form-group" ng-class="{ 'has-success': form.email.$valid && submitted,
                                            'has-error': form.email.$invalid && submitted }">
          <label>Email</label>

          <input type="email" name="email" class="form-control" ng-model="user.email"
                 required
                 mongoose-error/>
          <p class="help-block" ng-show="form.email.$error.email && submitted">
            Doesn't look like a valid email.
          </p>
          <p class="help-block" ng-show="form.email.$error.required && submitted">
            What's your email address?
          </p>
          <p class="help-block" ng-show="form.email.$error.mongoose">
            {{ errors.email }}
          </p>
        </div>

        <div class="form-group" ng-class="{ 'has-success': form.password.$valid && submitted,
                                            'has-error': form.password.$invalid && submitted }">
          <label>Password</label>

          <input type="password" name="password" class="form-control" ng-model="user.password"
                 ng-minlength="3"
                 required
                 mongoose-error/>
          <p class="help-block"
             ng-show="(form.password.$error.minlength || form.password.$error.required) && submitted">
            Password must be at least 3 characters.
          </p>
          <p class="help-block" ng-show="form.password.$error.mongoose">
            {{ errors.password }}
          </p>
        </div>

        <div>
          <button class="btn btn-inverse btn-lg btn-login" type="submit">
            Sign up
          </button>
          <a class="btn btn-default btn-lg btn-register" href="/login">
            Login
          </a>
        </div>

        <hr>
        <div>
          <a class="btn btn-facebook" href="" ng-click="loginOauth('facebook')">
            <i class="fa fa-facebook"></i> Connect with Facebook
          </a>
          <a class="btn btn-google-plus" href="" ng-click="loginOauth('google')">
            <i class="fa fa-google-plus"></i> Connect with Google+
          </a>
          <a class="btn btn-twitter" href="" ng-click="loginOauth('twitter')">
            <i class="fa fa-twitter"></i> Connect with Twitter
          </a>
        </div>
      </form>
    </div>
  </div>
  <hr>
</div> -->
